/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************/
body {
	font-family: 'Arial';
}

#main { padding: 20px; }

#pagination {
	border-top: 1px solid #e6e6e6;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 30px;
}
	#pagination .page-numbers {
		background: #fff;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		width: 28px;
		height: 28px;
		line-height: 28px;
		vertical-align: middle;
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		color: #333;
		text-decoration: none;
		margin: 0 3px;
	}
		#pagination .page-numbers:hover {
			background: #fafafa;
		}
		#pagination .current, #pagination .current:hover {
			background: #0a7726;
			color: #fff;
		}
		#pagination .prev, #pagination .next {
			font-family: 'FontAwesome';
			font-size: 14px;
		}


.post {
	margin-bottom: 30px;
}
	.post:after {
		display: table;
		content: ' ';
		clear: both;
	}
	.post-image {
		float: left;
		background-size: cover;
		width: 200px;
		height: 200px;
		border: 5px solid #f0f0f0;
		margin-right: 20px;
	}
	.post-desc {
		float: left;
		margin-top: 15px;
	}
	.post-desc h2 {
		margin-bottom: 15px;
	}
	.post-desc h2 a, .post-desc h2 {
		color: #333;
		text-decoration: none;
		font-size: 36px;
	}
	.post-desc h2 a:hover {
		color: #000;
	}
	.post-desc .meta {
		margin-bottom: 10px;
	}
	.post-desc .meta, .post-desc .meta ul { display: inline-block; }
	.post-desc .meta, .post-desc .meta a {
		font-size: 14px;
		color: #999;
		text-decoration: none;
	}
	.post-desc .meta a:hover {
		text-decoration: underline;
	}
	.post-desc .btn-more {
		text-decoration: none;
		background: #fff;
		padding: 12px 17px;
		border: 2px solid #f0f0f0;
		color: #333;
		display: inline-block;
		margin-top: 20px;
		font-size: 11px;
		border-radius: 3px;
		text-transform: uppercase;
	}
	.post-desc .btn-more:hover {
		background: #fdfdfd;
	}

	.single .post-image {
		width: auto;
		height: 250px;
		float: none;
		margin-right: 0;
	}